img {
	width: 80px;
	height: 15px;
}

.buildings, .resources {
	display: table;
	width: 610px;
/* 	background-color: #eee; */
	border: 1px solid #666666;
	border-spacing: 5px; /*cellspacing:poor IE support for  this*/
	/* border-collapse:separate;*/
}

.buildingeven {
	background-color: #ccc;
}

.buildingodd {
	background-color: #ccc;
}

.buildingtitle {
	background-color: #ccc;
}

.resourcerow {
	background-color: #ccc;
}

.buildingeven, .buildingodd, .buildingtitle, .resourcerow {
	display: table-row;
	width: auto;
}

.button, .resource, .level {
	float: left; /*fix for  buggy browsers*/
	display: table-column;
	width: 100px;
}