@CHARSET "ISO-8859-1";



.rightButton, .leftButton {
	width: 25px;
	height: 15px;
}

.rightButton {
	float:right;
	padding-right:10px;
}

.leftButton  {
	float:left;
	padding-left:10px;
}

.centeredTextCell {
	text-align:center;
}


.resourcerow {
	background-color: #ccc;
	display: table-row;
	width: auto;
}

.resource, .centeredTextCell {
	float: left; 
	display: table-column;
	width: 100px;
}

.resources {
	display: table;
	width: 610px;
/* 	background-color: #eee; */
	border: 1px solid #666666;
	border-spacing: 5px; /*cellspacing:poor IE support for  this*/
	/* border-collapse:separate;*/
}